<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049322653471-4vi3384ckr39velp6r63ld3dcjf1c4vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049322653471-4vi3384ckr39velp6r63ld3dcjf1c4vn</string>
	<key>API_KEY</key>
	<string>AIzaSyBuZJ6QCceyDWprDZHmV9HZX1Yka_hPUaU</string>
	<key>GCM_SENDER_ID</key>
	<string>1049322653471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doyeon.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-569fc</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-569fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049322653471:ios:ed65ea555f56040b88522a</string>
</dict>
</plist>
